
<!doctype html>
<html class="no-js" lang="en">

<head>
	<!-- meta data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!--font-family-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- title of site -->
	<title>Tìm việc làm</title>

	<!-- For favicon png -->
	<link rel="shortcut icon" type="image/icon" href="../../LayoutTimViec/logo/logo.png" />

	
	<link rel="stylesheet" href="../../LayoutTimViec/css/slick-theme.css">
									
	<!--bootstrap.min.css-->		
	<link rel="stylesheet" href="../../LayoutTimViec/css/bootstrap.min.css">
									
	<!-- bootsnav -->				
	<link rel="stylesheet" href="../../LayoutTimViec/css/bootsnav.css">
									
	<!--style.css-->				
	<link rel="stylesheet" href="../../LayoutTimViec/css/style.css">
	
</head>

<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
	<!--header-top start -->

	<header id="header-top" class="header-top">
		<ul style="background-color: rgba(1, 28, 55, 1);">
			<li>
				<div class="header-top-left" >
					<ul>
						<li class="select-opt" style="border:none">
							<select name="language" id="language" onchange="translateEN()">
								<option value="EN">English</option>
								<option value="VN">Vietnamese</option>
							</select>
						</li>
					</ul>
				</div>							
			</li>				
			<partial name="_LoginPartial"/>
		</ul>

	</header><!--/.header-top-->
	<!--header-top end -->
	<!-- top-area Start -->
	<section class="top-area">
		<div class="header-area">
			<!-- Start Navigation -->
			<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				<div class="container">

					<!-- Start Header Navigation -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
							<i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/LayoutTimViec/logo/logo.png" style="width: 95px; height: 70px; margin-top: -40px" /></a>

					</div><!--/.navbar-header-->
					<!-- End Header Navigation -->
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
						<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<div class="dropdn">
								<button class="dropbtn"><a style="color: white" href="/Home/Index">Home</a></button>
							</div>
							<div class="dropdn">
								<button class="dropbtn">IT Jobs</button>
							<div class="dropdn-content">
								<div class="dropdn-submenu">
									<a href="#">By Skill</a>
									<div class="dropdn-submenu-content">
										<table>
											@if(ViewBag.Skill != null && ViewBag.Skill.Count > 0)
											{
												string dataMenu = string.Empty;
												for(int i=0; i <  ViewBag.Skill.Count; i++)
												{
													if(i%4 == 0)
													{
														dataMenu += "<tr>";
													}
													dataMenu += "<td><a style=cursor:pointer href='/Search/ChoeseSearchSkill/"+ViewBag.Skill[i].Id+"'>"+ViewBag.Skill[i].Skills+"</a></td>";												
												}
												 @Html.Raw(dataMenu);
											}
										</table>
									</div>
								</div>
								<div class="dropdn-submenu">
									<a href="#">By Type</a>
									<div class="dropdn-submenu-content">
										<table>
											@if(ViewBag.Type != null && ViewBag.Type.Count > 0)
											{
												string dataMenu = string.Empty;
												for(int i=0; i <  ViewBag.Type.Count; i++)
												{
													if(i == 0 || i%4 == 0)
													{
														dataMenu += "<tr>";
													}
													dataMenu += "<tr><a style=cursor:pointer href='/Search/ChoeseSearchType/"+ViewBag.Type[i].Id+"'>"+ViewBag.Type[i].Type+"</a></t>";
													

													if(i%4 == 0)
													{
														dataMenu += "</tr>";
													}
												}
												 @Html.Raw(dataMenu);
											}
										</table>
									</div>
								</div>
								<div class="dropdn-submenu">
									<a href="#">By Rank</a>
									<div class="dropdn-submenu-content">
										<table>
											@if(ViewBag.Rank != null && ViewBag.Rank.Count > 0)
											{
												string dataMenu = string.Empty;
												for(int i=0; i <  ViewBag.Rank.Count; i++)
												{
													if(i == 0 || i%4 == 0)
													{
														dataMenu += "<tr>";
													}
													dataMenu += "<tr><a style=cursor:pointer  href='/Search/ChoeseSearchRank/"+ViewBag.Rank[i].Id+"'>"+ViewBag.Rank[i].rank+"</a></t>";
													

													if(i%4 == 0)
													{
														dataMenu += "</tr>";
													}
												}
												 @Html.Raw(dataMenu);
											}
										</table>
									</div>
								</div>
								<div class="dropdn-submenu">
									<a href="#">By Address</a>
									<div class="dropdn-submenu-content">
										<table>
											@if(ViewBag.Location != null && ViewBag.Location.Count > 0)
											{
												string dataMenu = string.Empty;
												for(int i=0; i <  ViewBag.Location.Count; i++)
												{
													if(i == 0 || i%4 == 0)
													{
														dataMenu += "<tr>";
													}
													dataMenu += "<tr><a style=cursor:pointer  href='/Search/ChoeseSearchLocation/"+ViewBag.Location[i].Id+"'>"+ViewBag.Location[i].Name_city+"</a></t>";
													

													if(i%4 == 0)
													{
														dataMenu += "</tr>";
													}
												}
												 @Html.Raw(dataMenu);
											}
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="dropdn">
							<button class="dropbtn"><a style="color: white" href="/Job/Job">Job</a></button>
						</div>
						<div class="dropdn">
							<button class="dropbtn"><a style="color: white" href="/Company/Company">Company</a></button>
						</div>
						<div class="dropdn">
							<button class="dropbtn">Status and Favorite</button>
							<div class="dropdn-content">
								<div class="dropdn-submenu">
									<a style="width: 202px"  href="/StatusJob/StatusJob">Status job</a>
									<a style="width: 202px" href="/Job/GetAllFavouriteJob">Favorite job</a>									
								</div>
							</div>
						</div>
					</div><!-- /.navbar-collapse -->
				</div><!--/.container-->
			</nav><!--/nav-->
			<!-- End Navigation -->
		</div><!--/.header-area-->
		<div class="clearfix"></div>

	</section><!-- /.top-area-->
	<!-- top-area End -->
	@RenderBody()

	<!--footer start-->
	<footer id="footer" class="footer">
		<div class="container">
			<div class="footer-menu">
				<div class="row">
					<div class="col-sm-3">
						<p style="font-size: 50px">Dev<span style="color: red">IT</span></p>

					</div
				</div>
			</div>
			<div class="hm-footer-copyright">
				<div class="row">
					<div class="col-sm-5">
						<p  style="color: black">Address: Thu Duc, TP. Ho Chi Minh</p>
						<p  style="color: black">Contact: +84123456789 - <a style="color: black" asp-controller="Home" asp-action="feedback">nhathaoha11@gmail.com</a> </p>
					</div>
					<div class="col-sm-3">
						<h4 style="text-align: center">Ứng viên</h4>
						<p style="margin-left: 30px"><a href="#">Tìm kiếm việc làm</a></p>
						<p style="margin-left: 30px"><a href="/Job/StatusJob">Trạng thái công việc</a></psty>
						<p style="margin-left: 30px"><a href="/Job/GetAllFavouriteJob">Công việc yêu thích</a></p>
						<p style="margin-left: 30px"><a href="/Job/Job">Công việc</a></p>
						<p style="margin-left: 30px"><a href="/Company/Company">Công ty</a></p>
						<p style="margin-left: 30px"><a href="/Home/feedback">Đóng góp ý kiến</a></p>

					</div>
					<div class="col-sm-3">
						<h4 style="text-align: center">Nhà tuyển dụng</h4>
						<p  style="text-align: center">Đăng tin tuyển dụng</p>
						<p  style="text-align: center">Tạo tài khoản</p>
					</div>
				</div>

			</div><!--/.hm-footer-copyright-->
		</div><!--/.container-->

		<div id="scroll-Top">
			<div class="return-to-top">
				<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
			</div>

		</div><!--/.scroll-Top-->

	</footer><!--/.footer-->
	<!--footer end-->
	<!-- Include all js compiled plugins (below), or include individual files as needed -->
	<script src="../../LayoutTimViec/js/site.js"></script>

	<script src="../../LayoutTimViec/js/jquery.js"></script>
	<!-- bootsnav js -->
	<script src="../../LayoutTimViec/js/bootsnav.js"></script>

	<!--feather.min.js-->
	<script src="../../LayoutTimViec/js/feather.min.js"></script>

	<!-- counter js -->
	<script src="../../LayoutTimViec/js/jquery.counterup.min.js"></script>
	<script src="../../LayoutTimViec/js/waypoints.min.js"></script>

	<!--slick.min.js-->
	<script src="../../LayoutTimViec/js/slick.min.js"></script>
	<!--Custom JS-->
	<script src="../../LayoutTimViec/js/custom.js"></script>

	<!--modernizr.min.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	<!--bootstrap.min.js-->
	<script src="../../LayoutTimViec/js/bootstrap.min.js"></script>

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


	@await RenderSectionAsync("Scripts", required: false)


</body>

</html>