@model List<TimViec.ViewModel.Details_Job>

@{
    ViewData["Title"] = "Ứng tuyển";
    Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<style>
    .form-container {
      margin-left: 400px;
      width: 800px;
      margin-top: 100px;
      border-radius: 10px;
        padding: 10px;
    }

</style>
<br />
<section class="explore-work" id="explore" style="background-color: #f6f9ff;margin-top: -16px;">
    <div class="container expanded">
        <div class="row" style="margin-top: 25px;">
            @foreach(var item in Model){
                <div class="col-lg-4" style="width: 27%;background-color: white;border-radius: 10px;margin-left: 20px;padding: 10px;">
                    <div class="left-image">
                        <img style="width: 100%; height: 300px" src="~/LayoutTimViec/img/@item.Logo" alt="Interior Design Work">
                    </div>
                    <hr />
                    <div class="left">
                        <h1>Công ty</h1>
                    </div>
                </div>
                <div class="col-lg-8" style="background-color: white;border-radius: 10px;padding: 13px;margin-left: 26px;">
                    <h1>@item.Name</h1>
                    <hr />
                    <div class="right-content">
                        <ul>
                            <li>
                                <h4>Công ty</h4>
                                <ul class="info">
                                    <li>
                                        <span>
                                            @item.CompanyName
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <br />
                            <li>
                                <br />
                                <h4>Địa chỉ</h4>
                                <ul class="info">
                                    <li>
                                        <span class="float-start">
                                            @item.Location
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <br />
                                <h4>Yêu cầu ngôn ngữ</h4>
                                <ul class="info">
                                    <li>
                                        <span class="float-start">
                                            @item.R1_Language
                                        </span>
                                    </li>
                                    <li>
                                        <span class="float-start">
                                            @item.R2_Language
                                        </span>
                                    </li>
                                    <li>
                                        <span class="float-start">
                                            @item.R3_Language
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <br />
                                <h4>Mô tả</h4>
                                <ul class="info">
                                    <li>
                                        <span>
                                            @item.Description
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <br />
                                <h4>Quy trình phỏng vấn</h4>
                                <ul class="info">
                                    <li>
                                        <span>
                                            Vòng 1: Nộp CV ứng tuyển
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Vòng 2: Thực hiện bài khảo sát tại công ty
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <a class="badge badge-pill badge-danger" style="font-size: 25px; background-color: rgb(35 97 157); padding: 10px; float: right" asp-area="" asp-controller="Home" asp-action="CreateApplication" asp-route-id="@item.Id">Ứng tuyển ngay</a>
                    </div>
                </div> 
                }
        </div>
    </div>
</section>
