@model TimViec.Models.Job

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}


<section class="explore-work" id="explore">
    <div class="container expanded">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2> @Html.DisplayFor(model => model.Title)</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="left-image">
                    <img src=" @Html.DisplayFor(model => model.img)" alt="Interior Design Work">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <ul>
                        <li>
                            <h4>Mức lương</h4>
                            <ul class="info">
                                <li>
                                    <span>
                                        @Html.DisplayFor(model => model.Salary)
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Địa chỉ</h4>
                            <ul class="info">
                                <li>
                                    <span class="float-start">
                                        @Html.DisplayFor(model => model.Location)
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Yêu cầu ngôn ngữ</h4>
                            <ul class="info">
                                <li>
                                    <span class="float-start">
                                        @Html.DisplayFor(model => model.R1_Language)
                                    </span>
                                </li>
                                <li>
                                    <span class="float-start">
                                        @Html.DisplayFor(model => model.R2_Language)
                                    </span>
                                </li>
                                <li>
                                    <span class="float-start">
                                        @Html.DisplayFor(model => model.R3_Language)
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Mô tả</h4>
                            <ul class="info">
                                <li>
                                    <span>
                                        @Html.DisplayFor(model => model.Description)
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Quy trình phỏng vấn</h4>
                            <ul class="info">
                                <li>
                                    <span>
                                        Vòng 1: Nộp CV ứng tuyển
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Vòng 2: Thực hiện bài khảo sát tại công ty
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <button class="badge badge-pill badge-danger" style="font-size: 25px; background-color: rgb(94, 171, 247)" type="submit">Ứng tuyển ngay</button>
                </div>
            </div>
        </div>
    </div>
</section>


<div>
    <a style="text-decoration: none; border: 1px; border-radius: 3px; background-color: red" class="btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Trở lại trang chủ</a>
</div>
