@model TimViec.Models.Job

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
    Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<style>
    .form-container {
      margin-left: 400px;
      width: 800px;
      margin-top: 100px;
      border-radius: 10px;
        padding: 10px;
    }

</style>
<br />
<section class="explore-work" id="explore">
    <div class="container expanded">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h1 style="font-size: 35px"> @Html.DisplayFor(model => model.Title)</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="left-image">
                    <img style="width: 100%; height: 300px" src="~/LayoutTimViec/img/@Html.DisplayFor(model => model.img)" alt="Interior Design Work">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <ul>
                        <li>
                            <h4>Mức lương</h4>
                            <ul class="info">
                                <li>
                                    <span>
                                        @Html.DisplayFor(model => model.Salary)
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <br />
                            <h4>Địa chỉ</h4>
                            <ul class="info">
                                <li>
                                    <span class="float-start">
                                        @Html.DisplayFor(model => model.Location)
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <br />
                            <h4>Yêu cầu ngôn ngữ</h4>
                            <ul class="info">
                                <li>
                                    <span class="float-start">
                                        @Html.DisplayFor(model => model.R1_Language)
                                    </span>
                                </li>
                                <li>
                                    <span class="float-start">
                                        @Html.DisplayFor(model => model.R2_Language)
                                    </span>
                                </li>
                                <li>
                                    <span class="float-start">
                                        @Html.DisplayFor(model => model.R3_Language)
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <br />
                            <h4>Mô tả</h4>
                            <ul class="info">
                                <li>
                                    <span>
                                        @Html.DisplayFor(model => model.Description)
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <br />
                            <h4>Quy trình phỏng vấn</h4>
                            <ul class="info">
                                <li>
                                    <span>
                                        Vòng 1: Nộp CV ứng tuyển
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Vòng 2: Thực hiện bài khảo sát tại công ty
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a class="badge badge-pill badge-danger" style="font-size: 25px; background-color: rgb(94, 171, 247); padding: 10px; float: right" asp-area="" asp-controller="Home" asp-action="CreateApplication" >Ứng tuyển ngay</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
