@model IEnumerable<TimViec.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form class="d-flex" asp-action="Index" asp-controller="Home">
    <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-dark" type="submit">Search by name</button>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Name_company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.R1_Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.R2_Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.R3_Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type_work)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank.rank)
            </td>
            <td>
                    @if (item.img != null)
                    {
                        <img src="~/imgae/@Html.DisplayFor(modelItem=> item.img)" width="150px" />
                    }
                    else
                    {

                        <h5>Không có hình ảnh</h5>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R1_Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R2_Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R3_Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_work.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
