@model TimViec.ViewModel.HomeViewModel

@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<!--font-awesome.min.css-->
<link rel="stylesheet" href="../../LayoutTimViec/css/font-awesome.min.css">

<!--linear icon css-->
<link rel="stylesheet" href="../../LayoutTimViec/css/linearicons.css">

<!--animate.css-->
<link rel="stylesheet" href="../../LayoutTimViec/css/animate.css">

<!--flaticon.css-->
<link rel="stylesheet" href="../../LayoutTimViec/css/flaticon.css">

<!--slick.css-->
<link rel="stylesheet" href="../../LayoutTimViec/css/slick.css">

<!--responsive.css-->
<link rel="stylesheet" href="../../LayoutTimViec/css/responsive.css">
<!--carousel.css-->
<link rel="stylesheet" href="../LayoutTimViec/css/carousel.css">

<section id="home" class="welcome-hero">
	<div class="container">
		<div class="welcome-hero-txt">
			<h2>Tìm việc là dễ<br> không dễ không tìm</h2>
			<p>
				Tìm theo ngôn ngữ, địa điểm và nhiều sự lựa chọn khác chỉ với một lần nhấp chuột
			</p>
		</div>
		<div class="welcome-hero-serch-box">
			<div class="welcome-hero-form">
				<div class="single-welcome-hero-form">
					<h3>Tìm kiếm</h3>
					<form asp-action="Search" asp-controller="Home" method="get">
						<input style="margin-left: -700px" type="text" placeholder="Ví dụ: Javascript, Hồ Chí Minh, Hà Nội" name="stringSearch" />
							<button class="welcome-hero-btn" type="submit" style="margin-left: 900px; margin-top: -70px" >
								Tìm kiếm<i data-feather="search"></i>
							</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->
<!--list-topics start -->

<section id="list-topics" class="list-topics">
	<div class="container">
		<div class="list-topics-content">
			<ul>
				<li>
					<div class="single-list-topics-content">
						<div class="single-list-topics-icon">
							<img src="../LayoutTimViec/img/Java.png" alt="Alternate Text" />
 						</div>
						<h2><a href="#">Java</a></h2>
					</div>
				</li>
				<li>
					<div class="single-list-topics-content">
						<div class="single-list-topics-icon">
							<img src="../LayoutTimViec/img/Python.png" alt="Alternate Text" />
						</div>
						<h2><a href="#">Python</a></h2>
					</div>
				</li>
				<li>
					<div class="single-list-topics-content">
						<div class="single-list-topics-icon">
							<img src="../LayoutTimViec/img/JavaScript.png" alt="Alternate Text" />
						</div>
						<h2><a href="#">JavaScript</a></h2>
					</div>
				</li>
				<li>
					<div class="single-list-topics-content">
						<div class="single-list-topics-icon">
							<img src="../LayoutTimViec/img/C++.png" alt="Alternate Text" />
						</div>
						<h2><a href="#">C++</a></h2>
					</div>
				</li>
				<li>
					<div class="single-list-topics-content">
						<div class="single-list-topics-icon">
							<img src="../LayoutTimViec/img/CSS3.png" alt="Alternate Text" />
						</div>
						<h2><a href="#">CSS3</a></h2>
					</div>
				</li>
			</ul>
		</div>
	</div><!--/.container-->

</section><!--/.list-topics-->
<!--list-topics end-->
<!--works start -->
<section id="works" class="works">
	<div class="container">
		<div class="section-header">
			<h2>TOP 3</h2>
			<h4>Công ty nổi bật nhất hiện nay</h4>
		</div><!--/.section-header-->
		<div class="works-content">
			<div class="row">
				@foreach (var item in Model.Companies)
				{
					<div class="col-md-4 col-sm-6">
						<div class="single-how-works">
							<div class="single-how-works-icon">
								<img src="~/LayoutTimViec/img/@item.Image" alt="" />
							</div>
							<h2><a href="#">@item.Name_company</a></h2>
							<p>
								@item.Description
							</p>
							<button class="welcome-hero-btn how-work-btn" ><a asp-action="Details_CPN" asp-route-id="@item.Id">Chi tiết</a></button>
						</div>
					</div>
				}
			</div>
		</div>
	</div><!--/.container-->

</section><!--/.works-->
<!--works end -->

<section id="works" class="works">
	<div class="container-carousel">
		<div class="carousel">
			<input type="radio" name="slides" checked="checked" id="slide-1">
			<input type="radio" name="slides" id="slide-2">
			<input type="radio" name="slides" id="slide-3">
			<input type="radio" name="slides" id="slide-4">
			<input type="radio" name="slides" id="slide-5">
			<input type="radio" name="slides" id="slide-6">
			<ul class="carousel__slides" style="background-color: #fff">
				<li class="carousel__slide">
					<figure>
						<div>
							<img src="~/LayoutTimViec/img/sfvn1.png" alt="SFVN">
						</div>
						<div style="width: 300px">
							<h3>CÔNG TY CỔ PHẦN ĐẦU TƯ SFVN</h3>
							<p>Địa chỉ: Khu biệt thự Saigon Pearl, Số 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh</p>
						</div>
					</figure>
				</li>
				<li class="carousel__slide">
					<figure>
						<div>
							<img style="width: 773px; height: 455px" src="~/LayoutTimViec/img/fireg.jpg" alt="SFVN">
						</div>
						<div style="width: 300px">
							<h3>CÔNG TY CỔ PHẦN ĐẦU TƯ SFVN</h3>
							<p>Địa chỉ: Khu biệt thự Saigon Pearl, Số 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh</p>
						</div>

					</figure>
				</li>
				<li class="carousel__slide">
					<figure>
						<div>
							<img style="width: 773px; height: 455px" src="~/LayoutTimViec/img/fpt1.png" alt="SFVN">
						</div>
						<div style="width: 300px">
							<h3>CÔNG TY CỔ PHẦN ĐẦU TƯ SFVN</h3>
							<p>Địa chỉ: Khu biệt thự Saigon Pearl, Số 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh</p>
						</div>
					</figure>
				</li>
				<li class="carousel__slide">
					<figure>
						<div>
							<img style="width: 773px; height: 455px" src="~/LayoutTimViec/img/gtsc1.png" alt="SFVN">
						</div>
						<div style="width: 300px">
							<h3>CÔNG TY CỔ PHẦN ĐẦU TƯ SFVN</h3>
							<p>Địa chỉ: Khu biệt thự Saigon Pearl, Số 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh</p>
						</div>
					</figure>
				</li>
				<li class="carousel__slide">
					<figure>
						<div>
							<img style="width: 773px; height: 455px" src="~/LayoutTimViec/img/viettel.jpg" alt="SFVN">
						</div>
						<div style="width: 300px">
							<h3>CÔNG TY CỔ PHẦN ĐẦU TƯ SFVN</h3>
							<p>Địa chỉ: Khu biệt thự Saigon Pearl, Số 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh</p>
						</div>
					</figure>
				</li>
				<li class="carousel__slide">
					<figure>
						<div>
							<img style="width: 773px; height: 455px" src="~/LayoutTimViec/img/NEC.jpg" alt="SFVN">
						</div>
						<div style="width: 300px">
							<h3>CÔNG TY CỔ PHẦN ĐẦU TƯ SFVN</h3>
							<p>Địa chỉ: Khu biệt thự Saigon Pearl, Số 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh</p>
						</div>
					</figure>
				</li>
			</ul>
			<ul class="carousel__thumbnails" style="background-color: #fff">
				<li>
					<label for="slide-1"><img src="~/LayoutTimViec/img/SFVN.jpg" alt=""></label>
				</li>
				<li>
					<label for="slide-2"><img src="~/LayoutTimViec/img/FGT.png" alt=""></label>
				</li>
				<li>
					<label for="slide-3"><img src="~/LayoutTimViec/img/fpt.png" alt=""></label>
				</li>
				<li>
					<label for="slide-4"><img src="~/LayoutTimViec/img/gtsc.png" alt=""></label>
				</li>
				<li>
					<label for="slide-5"><img src="~/LayoutTimViec/img/viettel.png" alt=""></label>
				</li>
				<li>
					<label for="slide-6"><img src="~/LayoutTimViec/img/nec.png" alt=""></label>
				</li>
			</ul>
		</div>
	</div>
</section>
<!--explore start -->
	
<section id="explore" class="explore">
	<div class="container">
		<div class="section-header">
			<h2>Các công việc phổ biến hiện nay</h2>
			
		</div><!--/.section-header-->
		<div class="explore-content">
			<div class="row">

				@foreach (var item in Model.Jobs)
				{ 
				<div class=" col-md-4 col-sm-6">
					<div class="single-explore-item">
						<div class="single-explore-img">
							<img style="height: 256px; width: 100%" src="~/LayoutTimViec/img/@item.img" alt="explore image">
							<div class="single-explore-img-info">
								<button onclick="window.location.href='#'">best rated</button>
								<div class="single-explore-image-icon-box">
									<ul>
										<li>
											<div class="single-explore-image-icon">
												<i class="fa fa-arrows-alt"></i>
											</div>
										</li>
										<li>
											<div class="single-explore-image-icon">
												<i class="fa fa-bookmark-o"></i>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="single-explore-txt bg-theme-1">
							<h2><a href="#">@item.Title</a></h2>
							<p class="explore-rating-price">
								<span class="explore-rating">5.0</span>
									<a href="#">@item.R1_Language</a>
									<span class="explore-price-box">@item.R2_Language</span>
									<a href="#">@item.R3_Language</a>
							</p>
							<div class="explore-person">
								<div class="row">
									<div class="col-sm-10">
										<p>
											@item.Location
										</p>
									</div>
								</div>
							</div>
							<div class="explore-open-close-part">
								<div class="row">
									<div class="col-sm-5">
											<button class="close-btn" onclick="window.location"><a asp-action="Details_Job" asp-route-id="@item.Id">Chi tiết</a></button>
									</div>
									<div class="col-sm-7">
										<div class="explore-map-icon">
											<a href="#"><i data-feather="map-pin"></i></a>
											<a href="#"><i data-feather="upload"></i></a>
											<a href="#"><i data-feather="heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                }
			</div>
		</div>
	</div><!--/.container-->
</section><!--/.explore-->
<!--explore end -->

<!-- statistics strat -->
<section id="statistics" class="statistics">
	<div class="container">
		<h1 style="font-size: 40px; text-align: center; margin-bottom: 50px">Nhu cầu nhân lực IT Việt Nam 2022-2025</h1>
		<div class="statistics-counter">
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-content">
						<div class="counter">530</div> <span>K+</span>
					</div><!--/.statistics-content-->
					<h3>2022</h3>
				</div><!--/.single-ststistics-box-->
			</div><!--/.col-->
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-content">
						<div class="counter">550</div> <span>k+</span>
					</div><!--/.statistics-content-->
					<h3>2023</h3>
				</div><!--/.single-ststistics-box-->
			</div><!--/.col-->
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-content">
						<div class="counter">650</div> <span>k+</span>
					</div><!--/.statistics-content-->
					<h3>2024</h3>
				</div><!--/.single-ststistics-box-->
			</div><!--/.col-->
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-content">
						<div class="counter">700</div> <span>k+</span>
					</div><!--/.statistics-content-->
					<h3>2025</h3>
				</div><!--/.single-ststistics-box-->
			</div><!--/.col-->
		</div><!--/.statistics-counter-->
	</div><!--/.container-->

</section><!--/.counter-->
<!-- statistics end -->

